# MAIN SETTINGS (mandatory)
ENV = 'dev'
NAME = 'api-challenge'
PORT = '7990'
APP_PREFIX = 'api-acamica'

# DB MYSQL
DB_HOST = 'localhost'
DB_USER = 'root'
DB_PASSWORD = ''
DB_DATABASE = 'students_storage',
LIMIT_DEFAULT = 20

#SECRET
API_SECRET = 'challenge_api_key'

#ENDPOINT
SERVICE_FRONTEND = 'http://localhost:3000'
